<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h2>Registered Users</h2>

    <table border="1" cellpadding="8">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Role</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/dashboard">Back</a>
</body>
</html>
